{
    "rules": {
        "indent":           [2, 4, {"SwitchCase": 1}],
        "linebreak-style":  [2, "unix"],
        "no-console":        0,
        "no-unused-vars":   ["error", { "vars": "all", "args": "after-used" }],
        "quotes":           [2, "single"],
        "semi":             [2, "always"]
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true,
        "jasmine": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true,
        "modules": true
    },
    "plugins": [
    ]
}
